body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

h2 {
    color: lightblue;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: white;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: lightblue;
    text-decoration: none;
}

form {
    display: inline;
}

.inactive {
    color: gray;
}

.border {
    border: 1px solid gray;
}